GAMMASCOPE_PUBLIC_ORIGIN=https://gamma.hiqjj.org

GAMMASCOPE_POSTGRES_DB=gammascope
GAMMASCOPE_POSTGRES_USER=gammascope
GAMMASCOPE_POSTGRES_PASSWORD=replace-with-a-long-random-database-password

GAMMASCOPE_PRIVATE_MODE_ENABLED=true
GAMMASCOPE_ADMIN_TOKEN=replace-with-a-long-random-admin-token

GAMMASCOPE_WEB_ADMIN_USERNAME=admin
GAMMASCOPE_WEB_ADMIN_PASSWORD=replace-with-a-long-random-web-password
GAMMASCOPE_WEB_ADMIN_SESSION_SECRET=replace-with-at-least-32-random-characters

GAMMASCOPE_API_HOST_PORT=8000
GAMMASCOPE_WEB_HOST_PORT=3000
GAMMASCOPE_REPLAY_CAPTURE_INTERVAL_SECONDS=5
GAMMASCOPE_REPLAY_RETENTION_DAYS=20
GAMMASCOPE_SAVED_VIEW_RETENTION_DAYS=90
GAMMASCOPE_REPLAY_IMPORT_MAX_BYTES=104857600
